<div class="p-3">
  <header>
    <p>Are You Sure That You Want To Discard Your Changes</p>
  </header>
  <footer class="tw-p-6  col-md-12 ">
    <div class="d-flex justify-content-around align-items-center pt-3">
      <!--  <button mat-flat-button class="btn btn-success py-1 px-5 mx-2" (click)="addTask()" >Create</button> -->
      <button type="submit" class="btn btn-info px-5 " (click)="confirm()">Yes</button>
      <button type="submit" class="btn btn-danger px-5 "(click)="close()">No</button>

    </div>
  </footer>
</div>
