button {
  color: #FFF;
  margin: 0 3px;
  &.addTask {
      background-color: #f1600c;
      color: #FFF;
      padding: 2px 23px;
      font-size: 20px;
  }
}
table{
  img{
    width: 50px;
    height: 50px;
  }
}
:host ::ng-deep {
  table {
      thead {
          background-color: #f1600c!important;
          .mat-header-cell {
              color: #FFF;
          }
      }
  }
}

.w-20 {
  width: 20%!important;
}
.maintitle{
  text-align: center;
  color: #f1600c;
}


 ::ng-deep{
  .ngx-pagination  {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .ngx-pagination .current {
      background: #f1600c !important;
      border-radius: 50%;
    }
    .ngx-pagination a, .ngx-pagination button{
      color: #f1600c !important;
    }
    /* Change size of pagination buttons */
    .ngx-pagination button {
      font-size: 16px;
    }
 }
 .mdc-data-table__header-cell{
  text-align: center !important;
 }
 .mdc-data-table__cell, .mdc-data-table__header-cell{
  text-align: center !important;
 }

