<div class="row">
  <div class="col-md-3 task py-3 mt-2 mb-4  " *ngFor="let task of allUserTask | paginate: { id: 'tasks',
  itemsPerPage: 4,
  currentPage: page,
  totalItems: totalTask } ">
    <div class="mx-1">
      <h3>{{task?.title}}</h3>
      <img [src]="'https://crud-27v6.onrender.com/'+task?.image" alt="">
      <p class="deadline">DeadLine Date :{{task?.deadline}}</p>
      <p>{{task?.description}}</p>
      <div class="d-flex justify-content-around flex-wrap">
        <a  class="main-link " [routerLink]="['/tasks/' , task?._id]">Details</a>
        <a class="second-link" (click)="complete(task?._id)">complete</a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2   maincolor " *ngIf='totalTask > 0'>
    <pagination-controls (pageChange)="changePage($event)" id="tasks"></pagination-controls>
  </div>
</div>
