<div class="p-4">
  <header class="d-flex justify-content-between align-items-center" >
      <h1 *ngIf="!data"  class="m-0" >Add New Task</h1>
      <h1 *ngIf="data" class="m-0" >Updata Task</h1>
      <!-- <button mat-flat-button matDialogClose class="text-danger">
       close
      </button> -->
    </header>
  <form [formGroup]="FormAdd" >
      <div class="row ">
              <div class="col-md-12 pt-2">
                  <!-- <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Title</mat-label>
                      <input matInput  formControlName="title" placeholder="title">
                  </mat-form-field> -->
                    <label for="title">Title :</label>
                    <input type="text" class="form-control"  [autofocus]="shouldFocus"  formControlName="title" id="title">
                    <div class="alert alert-danger py-1 my-0" *ngIf="FormAdd.controls['title'].touched && FormAdd.controls['title'].errors">
                    <span *ngIf="FormAdd.controls['title'].errors?.['required']">your title required</span>
                      <span *ngIf="FormAdd.controls['title'].errors?.['minlength']">your title mush be at least 5 letter</span>
                    </div>

              </div>
              <div class="col-md-12 pt-2">
                  <!-- <mat-form-field appearance="outline" class="w-100">
                      <mat-label>User</mat-label>
                      <mat-select formControlName="userId">
                          <mat-option *ngFor="let user of users" [value]="user?.id" >
                            {{user?.name}}
                          </mat-option>
                        </mat-select>
                  </mat-form-field> -->
                <!--   <label for="username">UserName :</label>
                  <select id="username" formControlName="userId" class="form-control" >
                    <option *ngFor="let user of userss" [value]="user.id">{{user.name}}</option>
                  </select> -->

                    <label for="username">UserName :</label>

                  <select id="username" formControlName="userId" class="form-control" >
                    <option  style='display: none'></option>
                    <option *ngFor="let user of users" [value]="user?._id">{{user?.username}}</option>
                  </select>
                  <!-- <mat-form-field appearance="outline" class="w-100">
                    <mat-label>By User</mat-label>
                    <mat-select >
                        <mat-option *ngFor="let user of users" [value]="user?._id">{{user?.username}}</mat-option>
                      </mat-select>
                  </mat-form-field> -->

                  <div class="alert alert-danger py-1 my-0" *ngIf="FormAdd.controls['userId'].touched && FormAdd.controls['userId'].errors">
                    <span *ngIf="FormAdd.controls['userId'].errors?.['required']">your must enter user</span>
                  </div>
                  <div class="col-md-12 pt-2">

                      <label for="image" class="  imagebutton">Your Image For Task:</label>
                      <span>{{selectImagevalue}}</span>
                      <input type="file" class="form-control" hidden (change)="selectImage($event)"  id="image">
                     <!--  <div class="alert alert-danger py-1 my-0" *ngIf="FormAdd.controls['image'].touched && FormAdd.controls['image'].errors">
                        <span *ngIf="FormAdd.controls['image'].errors?.['required']">your image required</span>
                      </div> -->
                  </div>
              </div>
              <div class="col-md-12 pb-2">
                <!-- <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Title</mat-label>
                    <input matInput  formControlName="title" placeholder="title">
                </mat-form-field> -->
                  <label for="deadline">Deadline :</label>
                  <input type="date" class="form-control" formControlName="deadline" id="deadline">
                  <div class="alert alert-danger py-1 my-0" *ngIf="FormAdd.controls['deadline'].touched && FormAdd.controls['deadline'].errors">
                    <span *ngIf="FormAdd.controls['deadline'].errors?.['required']">your title required</span>
                  </div>

            </div>
              <div class="col-md-12 pt-2">
                  <!-- <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Description</mat-label>
                      <textarea matInput formControlName="description"  placeholder="task description ...."></textarea>
                  </mat-form-field> -->
                  <label for="description">Description :</label>
                  <!-- <input type="t" class="form-control" formControlName="description" id="description"> -->
                  <textarea  class="form-control" formControlName="description" id="description"   rows="4"></textarea>
                  <div class="alert alert-danger py-1 my-0" *ngIf="FormAdd.controls['description'].touched && FormAdd.controls['description'].errors">
                    <span *ngIf="FormAdd.controls['description'].errors?.['required']">your description required</span>
                  </div>

              </div>
      </div>
      <footer class="tw-p-6  col-md-12 ">
        <div class="d-flex justify-content-around align-items-center pt-3">
          <!--  <button mat-flat-button class="btn btn-success py-1 px-5 mx-2" (click)="addTask()" >Create</button> -->
          <button type="submit" class="btn btn-info  "*ngIf="!data"  [disabled]="FormAdd.invalid" (click)="addTask()">create</button>
          <button type="submit" class="btn btn-info  "*ngIf="data" [disabled]="FormAdd.invalid" (click)="updataTask()">updata</button>
          <!-- <button  matDialogClose class="btn btn-danger  ">Close</button> -->
          <button  class="btn btn-danger" (click)="close()">Close</button>
        </div>
      </footer>
  </form>
</div>
